.landing-title {
  color: #294264;
  font-family: Karla;
  font-weight: 700;
}

.landing-instructions {
  color: #294264;
  font-family: inter;
  font-weight: 400;
}

.landing-button {
  color: #F5F7FB;
  font-family: inter;
  font-weight: 500;
  background-color: #4D5B9E;
  padding: 15px 30px;
  border-radius: 15px;
  border-width: 1px;
  border-color: #4D5B9E;
}

.landing-button:hover, .answer-button:hover {
  background-color: #F5F7FB;
  color: #4D5B9E;
  border-color: #4D5B9E;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.answer-button {
  background-color: transparent;
  color: #293264;
  border-radius: 8px;
  padding: 4px;
  font-family: Inter;
  font-weight: 500;
  border-width: 1px;
  margin: 10px;
}

.selected-button {
  background-color: #D6DBF5;
  color: #293264;
  border-radius: 8px;
  padding: 4px;
  font-family: Inter;
  font-weight: 500;
  border-width: 0px;
  margin: 10px;
}

.correct-button {
  background-color: #94D7A2;
  color: #293264;
  border-radius: 8px;
  padding: 4px;
  font-family: Inter;
  font-weight: 500;
  border-width: 0px;
  margin: 10px;
}

.incorrect-button {
  background-color: #F8BCBC;
  color: #293264;
  border-radius: 8px;
  padding: 4px;
  font-family: Inter;
  font-weight: 500;
  border-width: 0px;
  margin: 10px;
}